@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');


.fontdiner-swanky-regular {
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;
}

.mountains-of-christmas-regular {
  font-family: "Mountains of Christmas", serif;
  font-weight: 400;
  font-style: normal;
}

.mountains-of-christmas-bold {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-size: 16px;
  padding: 10px;
  font-family: Arial, sans-serif;
  color: #fffefe;
  background-color: #f4f4f4;
  background-image: url('https://img.freepik.com/free-vector/question-marks-background_78370-2896.jpg?ga=GA1.1.1034579004.1723063542&semt=ais_hybrid');
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */

}

.app-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 70px;
  background-color: #235d52;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-image: url('https://img.freepik.com/free-vector/gradient-zoom-effect-background_23-2149722799.jpg?ga=GA1.1.1034579004.1723063542&semt=ais_hybrid');
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* No repeat of the image */
}

h1 {
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  font-size: 4.5rem;
  -webkit-text-stroke: 1px rgb(22, 3, 149); /* Creates an outlined effect */
  color: #f39c12;
  margin-bottom: 20px;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Mountains of Christmas", serif;
  font-size: 2.5rem;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.main-menu button {
  background-color: #f39c12;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-menu button:hover {
  background-color: #e67e22;
}

.question-display {
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-radius: 10px;
  height: 200px;
  margin-left:20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom:50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-image: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-54587.jpg?ga=GA1.1.1034579004.1723063542&semt=ais_hybrid');
  background-size:cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* No repeat of the image */
}

p {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}

.answers-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Space between buttons */
  margin-bottom: 20px;
}

.answers-display button {
  background-color: #f39c12;
  color: white;
  padding: 10px 20px;
  border: solid;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Default width for mobile */
}

.answers-display button:hover {
  background-color: #e67e22;
}

.answers-display button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.next-question {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px 15px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-question:hover {
  background-color: #2ecc71;
}

.scoreBoard {
  margin-top: 20px;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px;
  background-color: #f7f9fc;
  border-radius: 5px;
}

.scoreBoard h2 {
  font-size: 1.5rem;
  color: #333;
}

.end-screen {
  margin-top: 15px;
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #e4e2e2;
  border-radius: 10px;
  color: #2c3e50;
}

.end-screen h2 {
  color: #2c3e50;
  margin-bottom: 15px;
}

.end-screen button {
  background-color: #235d52;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.end-screen button:hover {
  background-color: #2ecc71;
}

/* Media queries for tablet (768px and up) */
@media screen and (min-width: 768px) {
  body {
      font-size: 18px;
      padding: 20px;
  }

  .app-container {
      max-width: 700px;
  }

  .answers-display button {
      width: 80%; 
  }
}

/* Media queries for desktop (1024px and up) */
@media screen and (min-width: 1024px) {
  body {
      font-size: 20px;
      padding: 30px;
  }

  .app-container {
      max-width: 900px; 
  }

  .answers-display button {
      width: 70%; 
  }
}
