body {
  font-size: 16px;
  padding: 10px;
  font-family: Arial, sans-serif;
  color: #fffefe;
  background-color: #f4f4f4;
}

.app-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 70px;
  background-color: #235d52;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #f39c12;
  margin-bottom: 20px;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-menu button {
  background-color: #f39c12;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-menu button:hover {
  background-color: #e67e22;
}

.question-display {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.answers-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Space between buttons */
  margin-bottom: 20px;
}

.answers-display button {
  background-color: #f39c12;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Default width for mobile */
}

.answers-display button:hover {
  background-color: #e67e22;
}

.answers-display button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.next-question {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px 15px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-question:hover {
  background-color: #2ecc71;
}

.scoreBoard {
  margin-top: 20px;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px;
  background-color: #f7f9fc;
  border-radius: 5px;
}

.scoreBoard h2 {
  font-size: 1.5rem;
  color: #333;
}

.end-screen {
  margin-top: 15px;
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #e4e2e2;
  border-radius: 10px;
  color: #2c3e50;
}

.end-screen h2 {
  color: #2c3e50;
  margin-bottom: 15px;
}

.end-screen button {
  background-color: #235d52;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.end-screen button:hover {
  background-color: #2ecc71;
}

/* Media queries for tablet (768px and up) */
@media screen and (min-width: 768px) {
  body {
      font-size: 18px;
      padding: 20px;
  }

  .app-container {
      max-width: 700px;
  }

  .answers-display button {
      width: 80%; 
  }
}

/* Media queries for desktop (1024px and up) */
@media screen and (min-width: 1024px) {
  body {
      font-size: 20px;
      padding: 30px;
  }

  .app-container {
      max-width: 900px; 
  }

  .answers-display button {
      width: 70%; 
  }
}
